*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Montserrat,sans-serif;
}
a{
    color: rgb(112, 175, 204);
    text-decoration: none;
}
.msg{
    border:2px solid #e9a54d;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
   
}
p{
    margin: 10px 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
input{
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
button{
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
img.avatar {
    margin: 0 20px;
    height: 85px;
    width: 85px;
    border-radius: 65%;
    }
    .out{
        margin: 0 20px;
    }